<form action="/piechart/save" method="post">
    <div class="mb-3">
        <label for="txtEmail" class="form-label">Name</label>
        <input type="text" class="form-control" id="txtName" name="PieChartName">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="text" class="form-control" id="txtValue" name="PieChartValue">
    </div>
    
    <button type="submit" class="btn btn-success">Save</button>
</form>